/* COUNTRIES LIST */
.countries_list {
  width: 100%;
  min-height: 100vh;
  padding: 0 3rem;
  margin-top: 1rem;
  padding-bottom: 2rem;
  gap: 4rem;
  display: flex;
  align-content: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
}
.countries_list .link {
  text-decoration: none;
}
.countries_list article {
  width: 265px;
  height: 340px;
  background-color: var(--DarkBlue);
  border-radius: 5px;
  overflow: hidden;
  cursor: pointer;
}
.countries_list img {
  object-fit: cover;
  width: 265px;
  height: 160px;
}
.country_info {
  padding: 1rem;
}
.pre_text {
  color: var(--White);
  font-size: 14px;
  font-weight: 600;
  margin-right: 5px;
}
.name {
  color: var(--White);
  font-size: 16px;
  font-weight: 800;
  margin-bottom: 0.5rem;
}
p.population,
p.region,
p.capital {
  font-size: 14px;
  margin-bottom: 0.2rem;
  color: var(--VeryLightGray);
}
