/* SEARCH AND FILTER ROW */
/* SEARCH */
.search_filter {
  width: 100%;
  padding: 1rem 3rem;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 2rem 0;

}
.search_bar {
  width: 42%;
  position: relative;
}
.search_input {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  padding: 1rem 1rem 1rem 3.5rem;
  border-radius: 5px;
  font-size: 14px;
  background-color: var(--DarkBlue);
  color: var(--VeryLightGray);
  transition: all 0.3s ease-out;
}
.search_input::placeholder {
  color: var(--VeryLightGray);
  letter-spacing: 1px;
  font-size: 14px;
}

.search_bar img {
  position: absolute;
  left: 1.5rem;
  top: 50%;
  width: 15px;
  height: 15px;
  transform: translateY(-50%);
}

/* FILTER */
.filter {
  width: 250px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  background-color: var(--DarkBlue);
  border-radius: 5px;
  font-size: 14px;
  color: var(--VeryLightGray);
  cursor: pointer;
  transition: all 0.3s ease-out;
}
.filter_title {
  padding: 1rem;
  display: block;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.filter_title img {
  width: 15px;
  height: 15px;
}
.regions {
  padding: 0.8rem 0;
  position: absolute;
  width: 100%;
  top: 3.7rem;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
  border-radius: 5px;
  border: none;
  outline: none;
  z-index: 9999;
  background-color: var(--DarkBlue);
}
.region_option {
  cursor: pointer;
  width: 100%;
  font-weight: 500;
  padding: 5px 1rem;
}
.region_option:hover {
  background-color: var(--VeryDarkBlue);
  color: var(--White);
}
@media only screen and (max-width: 720px) {
  .search_filter {
    padding: 1rem 1.5rem;
    flex-direction: column;
    align-items: flex-start;
    gap: 2rem;
  }
  .search_bar {
    width: 100%;
  }
  .filter {
    width: 60%;
  }
}
.light_mode_filter,.light_mode_search {
  background-color: var(--White);
  color: var(--VeryDarkBlueText);
  box-shadow: 0px 1px 5px 1px var(--DarkGrayShade);
}

.light_mode_search::placeholder {
  color: var(--DarkBlue);
}
.light_mode_regions{
  background-color: var(--White);
  color: var(--VeryDarkBlueText);
}