@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,300;6..12,600;6..12,800&display=swap");
:root {
  /*  (Dark Mode Elements)  */
  --DarkBlue: hsl(209, 23%, 22%);
  /*  (Dark Mode Background)  */
  --VeryDarkBlue: hsl(207, 26%, 17%);
  /*  (Light Mode Text)  */
  --VeryDarkBlueText: hsl(200, 15%, 8%);
  /*   (Light Mode Input) */
  --DarkGray: hsl(0, 0%, 52%);
  /*   (Light Mode Background) */
  --VeryLightGray: hsl(0, 0%, 98%);
  /*   (Dark Mode Text & Light Mode Elements)*/
  --White: hsl(0, 0%, 100%);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito Sans", sans-serif;
}
body {
  width: 100%;
  height: 100vh;
  background-color: var(--VeryDarkBlue);
  font-size: 14px;
}
img {
  max-width: 100%;
}

.app {
  width: 100%;
  height: 100%;
}
/* HEADER */
.nav-bar {
  width: 100%;
  padding: 1rem 3rem;
  background-color: var(--DarkBlue);
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--VeryLightGray);
  box-shadow: 0px 1px 5px 1px var(--VeryDarkBlueText);
}
.dark-mode-div {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.dark-mode-div p {
  font-size: 16px;
}
.moon-img {
  width: 15px;
  cursor: pointer;
}
/* FILTER / SEARCH*/
form {
  width: 100%;
  padding: 0 3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1.3rem;
  position: relative;
}
form input {
  width: 40%;
  border: none;
  outline: none;
  padding: 1rem 1rem 1rem 3.5rem;
  border-radius: 5px;
  font-size: 16px;
  background-color: var(--DarkBlue);
  color: var(--VeryLightGray);
}
form input::placeholder {
  color: var(--VeryLightGray);
}
form img.search-icon {
  position: absolute;
  left: 4.5rem;
  top: 50%;
  width: 15px;
  transform: translateY(-50%);
}
.select {
  width: 250px;
  padding: 1rem;
  background-color: var(--DarkBlue);
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
  color: var(--VeryLightGray);
}
/* COUNTRIES*/
.countries {
  width: 100%;
  padding: 0 3rem;
  margin-top: 1rem;
  padding-bottom: 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 3rem;
}
/* individual country grid */
.countries article {
  background-color: var(--DarkBlue);
  border-radius: 5px;
  overflow: hidden;
  cursor: pointer;
}
.countries article:hover {
  scale: 1.05;
  box-shadow: 0px 2px 10px 2px var(--VeryDarkBlueText);
}
.countries article img {
  object-fit: cover;
  width: 100%;
  height: 160px;
}
.countries .country-info-div {
  padding: 1rem 1rem 1rem;
}
.country-info-div span.pre-text {
  color: var(--White);
  font-size: 14px;
  font-weight: 600;
  margin-right: 5px;
}
.country-info-div h3.name {
  color: var(--White);
  font-size: 16px;
  font-weight: 800;
  margin-bottom: 0.5rem;
}
.country-info-div p.population,
.country-info-div p.region,
.country-info-div p.capital {
  font-size: 14px;
  margin-bottom: 0.2rem;
  color: var(--VeryLightGray);
}
